# Fichiers d'environnement
.env
.env.local
.env.*.local

# Environnements virtuels Python
venv/
env/
ENV/
bot/venv/
bot/env/
bot/Scripts/
bot/Lib/
bot/Include/
bot/pyvenv.cfg
bot/share/

# Fichiers Python
*.py[cod]
*$py.class
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.Python

# Fichiers temporaires générés par le bot
*.mp4
*.webm
*.srt
*.mkv
*.avi
*.mov
*.flv
clip_*.mp4
video_*.mp4
temp_*.mp4
clean_*.srt

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
logs/
*.sqlite

# Dossiers personnalisés
mk/
# Exclure les binaires ffmpeg lourds inclus par erreur
bot/utils/ffmpeg-2025-09-08-git-45db6945e9-full_build/
bot/utils/**/bin/ffmpeg*
bot/utils/**/bin/ffprobe*
bot/utils/**/bin/ffplay*

